@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
h1, h2{
    font-family: 'Inconsolata', monospace;
}

li {
    width: 100%;
    list-style-type: none;
    padding: 20px 0 20px 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    transition: 1s all;
    border-radius: 10px;
}
li:hover {
    background-color: blue;
    color: aliceblue;
}
#root {
    display: flex;
}
.input {
    display: flex;
}
textarea {
    height: 200px;
    width: 300px;
}
button {
    height: 26px;
    align-self: center;
}